@media only screen and (min-width: 982px) {
  /* layout */
  #bandeau_top, #Canvas, #Footer {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
  }
  .ContentBlock, .MenuBlock {
    margin-left: 0;
    margin-right: 0;
  }
}
