@b: 10px;
@d: 16px;
@l: @d*1.5;

/* layout */
body {
  background: #f7f7f7;
  font: x-small/1.5 Verdana, Geneva, sans-serif;
}

h2 + br { position: absolute; }

br:last-child { position: absolute; }

#logo, .top { display: none; }

.clear, .clearfooter, #bandeau_top, #Canvas {
  *zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after { clear: both; }
}

/* ErrorMsg */
#ErrorMsg {
  .text(@d, @l);
  background: #fcc;
  border: 1px solid #c33;
  border-radius: 4px;
  margin: 1em;
  padding: 1em;

  .MainMenuLinks{ .button(); }
}

/* page */
#bandeau_top {
  line-height: @l/@b;
  padding: @l 1em 0;

  * { display: inline-block; }
  a, input {
    background: #c33;
    color: #fff;
    cursor: pointer;
    height: @l;
    padding: 0 0.5em;
    text-decoration: none;
  }
}

#Canvas { background: #fff; }

/* header */
#Header {
  background: #585858;
  color: #fff;
  position: relative;
}

#Title {
  font-size: 200%;
  padding: 0.75em @d/2;
}

#MainMenuLinks {
  background: #fff;
  padding: 0 2px/@b+0em;

  * { display: inline-block; }
  a {
    background: #c33;
    color: #fff;
    font-size: 160%;
    line-height: 2.75;
    margin: 2px/@d+0em 0;
    padding: 0 0.5em;
    text-decoration: none;
  }
}

/* sidebar and content */
#Menus, #Paint, .menu_search { margin-top: -@b*1.5; }

#Menus, #Stretcher { padding: 0 @d/2 @l/@d+0em; }

.menu_search fieldset {
  padding: 12px 9em 11px 0;
  position: relative;

  #filter {
    margin-top: 0;
    width: 100%;
  }
  input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.listenum {
  list-style: none !important;
  margin-left: 0 !important;

  li {
    margin-left: 1em;

    &:first-child { margin-left: 0; }
  }
  a + br { position: absolute; }
  span:before { content: ' - '; }
}

.MenuBlock {
  padding: @l/2/@d+0em 0;

  &.menu_search {
    border-top-width: 0;
    padding: 0;
  }
}

#Paint { position: relative; }
#nav, #subnav {
  font-size: 120%;
  line-height: 1.667;

  > ul {
    > li {
      display: inline;

      &:first-child:before { content: none; }

      &:before { content: ' | '; }
    }
  }
}

#home_rss_news { text-align: right; }

#list_type {
  list-style: none;
  input[type=radio] {
    float: left;
    margin: 6px/@d+0em 4px/@d+0em 0 0;

    + dl { margin-top: 0; }
  }
}

/* footer */
#Footer {
  background: #333;
  color: #000;
  padding: 0.75em 0;
  text-align: center;
  text-transform: uppercase;

  img { display: none; }
  a {
    color: #fff;
    text-decoration: none;
  }
}

/* classes */
.hidden, #top {
  font-size: 0;
  position: absolute;
  left: -100%;
}

/* content */
.ContentBlock, .MenuBlock {
  overflow: hidden;

  > :first-child {
    margin-top: 0;
    > :first-child { margin-top: 0; }
  }

  /* text */
  h1, h2, h3, h4, h5, h6, dt, th { font-weight: bold; }
  h1 { .text(@d*2, @l); }
  h2 { .text(@d*1.75, @l); }
  h3 { .text(@d*1.5, @l); }
  h4 { .text(@d*1.25, @l); }
  h5, address, p, pre, dl, ol, ul, form, table, .text { .text(@d, @l); }
  h6 { .text(@d*.75, @l); }

  address { font-style: italic; }

  blockquote {
    border-left: 2px solid #311;
    margin-left: 1em;
    padding-left: 1em;

    > :first-child:before { content: '“'; }
    > :last-child:after { content: '”'; }
  }

  pre {
    font-family: monospace;
    overflow: hidden;
  }

  p, form, dl, ol, ul, table, .text {
    p, form, dl, ol, ul, table, .text {
      font-size: 100%;
      &:first-child { margin-top: 0; }
    }
  }

  /* lists */
  dl, ol { margin-left: 1em; }

  ol {
    counter-reset: ol;

    li { counter-increment: ol; }
    li:before { content: counter(ol) ') '; }
    ol {
      counter-reset: ol1;
      li { counter-increment: ol1; }
      li:before { content: counter(ol) '.' counter(ol1) ') '; }
      ol {
        counter-reset: ol2;
        li { counter-increment: ol2; }
        li:before { content: counter(ol) '.' counter(ol1) '.' counter(ol2) ') '; }
      }
    }
  }

  ul {
    list-style: outside disc;
    margin-left: 2.25em;

    ul {
      list-style-type: circle;
      ul { list-style-type: square; }
    }
  }

  /* rules */
  hr {
    background: #000;
    height: 1px/@b+0em;
    .margin-top((@l - 1px)/@b);
  }

  /* forms */
  button, input[type=button], input[type=reset], input[type=submit] {
    .button;
    border-radius: 1.5em;
    cursor: pointer;
    padding: 10.5px/@d+0em 1em;
    margin: 1px 0;

    &:hover, &:active, &:focus {
      background: #fff;
      color: #c33;
    }
  }

  input[type=password], input[type=text], select {
    border: 1px inset #311;
    .margin-top((@l - 1px)/@d);
    padding: 1px/@d+0em;
    vertical-align: bottom;
  }

  select { padding: 0; }

  option, optgroup { text-indent: 3px/@d+0em; }
  optgroup {
    font-weight: bold;

    option {
      font-weight: normal;
      text-indent: 3px/@d+1em;
    }
  }

  textarea {
    border: 1px inset #311;
    .margin-top((@l - 2px)/@d);
    vertical-align: top;
  }

  /* tables */
  table {
    border: 1px solid #311;
    .margin-top((@l - 2px)/@d);
    width: 100%;

    caption, thead tr:last-child > * {
      .button;
      border-bottom-width: 0;
      font-weight: bold;
      padding: (@l - 1px)/2/@d+0em 0.5em;
    }
    caption { text-align: center; }
    thead tr:last-child > * {
      border-width: 0;
      border-bottom-width: 1px;
    }
    caption + thead tr:last-child > * {
      background: 0;
      color: #000;
    }

    tfoot tr:first-child > * {
      border-top: 1px solid #311;
      padding: (@l - 1px)/2/@d+0em 0.5em;
    }

    tbody tr:nth-child(even) { background: #eee; }

    th { text-align: center; }
    th, td {
      padding: @l/2/@d+0em 0.5em;
      text-align: left;
    }
  }

  /* classes */
  .button { .button(); }
}

#ArcCalendar, #msglist > ul, .listOfItems {
  margin-bottom: 1.5em;
}

.calendar {
  > li {
    display: inline;

    &:first-child {
      font-weight: bold;

      &:after { content: ':'; }
    }
  }
}

@-moz-document url-prefix() {
  .content textarea { margin-bottom: (@d - 8px)/@d+0em; }
}

/* hide rename list */
form[name='manage_list_name'] {
  display: none;
}