body, div, hr,
address, blockquote, h1, h2, h3, h4, h5, h6, p, pre,
dl, dt, dd, ol, ul, li,
form, fieldset, legend, button, input, label, select, option, optgroup, textarea,
table, caption, col, colgroup, thead, tbody, tfoot, tr, th, td,
article, aside, figcaption, figure, footer, header, section,
a, abbr, cite, q, span, sub, sup,
b, del, i, ins, mark, s, u,
code, dfn, em, kbd, samp, strong, var,
img, map, area,
br, wbr {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
}

abbr {
  cursor: help;
  &[title] { border-bottom: 1px dotted #777; }
}
a abbr[title] { border-bottom: 0; }

body { line-height: 1; }

b, strong { font-weight: bold; }

blockquote {
  quotes: none;

  &:before, &:after { content: none; }
}

cite, dfn, em, i { font-style: italic; }

code, kdb, samp, var { font-family: monospace; }

del { text-decoration: line-through; }

ins, u { text-decoration: underline; }

ol, ul { list-style: none; }

q {
  &:before { content: '“'; }
  &:after { content: '”'; }

  q {
    &:before { content: '‘'; }
    &:after { content: '’'; }
  }
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  vertical-align: sub;
}
sup { vertical-align: super; }

table { border-spacing: 0; }

textarea { overflow: auto; }
