.button() {
  background: #c33;
  border: 1px solid #c33;
  color: #fff;
}

.margin-top(@n) { margin-top: @n+0em; }

.text(@d, @l) {
  font-size: percentage(@d/@b);
  line-height: unit(@l/@d) * ceil(@d/@l);
  .margin-top(@l/@d);
}

@import 'reset';

@import 'mobile';

@import 'tablet';

@import 'desktop';

.center { text-align: center !important; }
.left { text-align: left !important; }
.right { text-align: right !important; }

.bold { font-weight: bold !important; }
.italic { font-style: italic !important; }
.uppercase { text-transform: uppercase !important; }

.hidden {
  font-size: 0 !important;
  left: -100% !important;
  position: absolute !important;
}
