@media only screen and (min-width: 481px) {
  @d: 12px;
  @l: @d*1.5;

  /* ErrorMsg */
  #ErrorMsg {
    .text(@d, @l);
    margin: 1em;
  }

  /* layout */
  #bandeau_top {
    line-height: @l/@b;
    padding: @l 1em 0;

    a, input { height: @l; }
  }

  #Canvas { background: none; }

  /* header */
  #Header {
    border-bottom: 1px solid #c33;
    height: 7.2em;
    margin-bottom: @l;
    background: #585858 @d center no-repeat url(../images/clarku.png);
  }

  #Title { margin-left: 188px+@d*1.5; }

  #MainMenuLinks {
    background: #666;
    bottom: 0;
    display: block;
    padding: 0;
    position: absolute;
    right: 1.2em;
    width: auto;

    a {
      border: 1px solid #c33;
      border-bottom: 0;
      font-size: 100%;
      line-height: (@l - 1px);
      margin: 0;

      &.MainMenuLinksCurrentPage {
        background: #fff;
        color: #c33;
      }
      &:active, &:focus, &:hover {
        background: #fcc;
        color: #c33;
      }
    }
  }

  /* sidebar and content */
  #Menus, #Stretcher {
    float: left;
    padding: 0;
    margin: 0 1%;
    width: 23%;
  }
  #Stretcher {
    margin-top: -@l/@d+0em;
    width: 73%;
  }
  #Paint { margin-top: -@l/@d+0em; }

  #Stretcher, .MenuBlock {
    background: #fff;
    border: 1px solid #c33;
    border-radius: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0.75em 1em;
  }
  .MenuBlock {
    margin-bottom: @l - 2px;

    &.menu_search {
      border-top-width: 1px;
      padding: 0.75em 1em;

      fieldset {
        padding: 0;
        position: static;

        #filter { width: 100%; }
        input[type=submit] {
          margin-top: 1px;
          position: static;
        }
      }
    }
  }

  #nav, #subnav {
    font-size: 100%;
    line-height: 1.8;
    position: static;
  }

  #list_type input[type=radio] { margin: 4px/@d+0em 3px/@d+0em 0 0; }

  /* content */
  .ContentBlock, .MenuBlock {
    /* text */
    h1 { .text(@d*2, @l); }
    h2 { .text(@d*1.75, @l); }
    h3 { .text(@d*1.5, @l); }
    h4 { .text(@d*1.25, @l); }
    h5, address, p, pre, dl, ol, ul, form, table, .text { .text(@d, @l); }
    h6 { .text(@d*.75, @l); }

    /* forms */
    button, input[type=button], input[type=reset], input[type=submit] {
      padding: 2px/@d+0em 1em;
    }

    input[type=password], input[type=text], select {
      .margin-top((@l - 2px)/@d);
      padding: 1px/@d+0em;
    }
    select { padding: 0; }

    option, optgroup { text-indent: 3px/@d+0em; }
    optgroup option { text-indent: 3px/@d+1em; }

    textarea { .margin-top((@l - 1px)/@d); }

    /* rules */
    hr { .margin-top((@l - 1px)/@b); }

    /* tables */
    table.fancy {
      .margin-top((@l - 2px)/@d);

      caption,
      thead tr:last-child > *,
      tfoot tr:first-child > * {
        padding: (@l - 1px)/2/@d+0em 0.5em;
      }
    }
  }

  @-moz-document url-prefix() {
    .content textarea { margin-bottom: (@d - 11px)/@d+0em; }
  }
}
